<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome email</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .header {
            background-color: #f8f9fa;
            padding: 10px;
            text-align: center;
            font-size: 20px;
        }
        .content {
            padding: 20px;
        }
        .footer {
            background-color: #f8f9fa;
            padding: 10px;
            text-align: center;
            font-size: 12px;
        }
    </style>
</head>
<body>
<div class="header">
    <h1>Welcome to our service</h1>
</div>
<div class="content">
    <h1>Hello {{name}}!</h1>
    <p>Thank you for signing up. We're excited to have you onboard.</p>
</div>

<div class="footer">
<p> &copy; 2024 WinSolutions.ca </p>
</div>
</body>
</html>